<div class="text-bg-dark fixed-bottom">
  <footer class="py-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
      <li class="nav-item"><a href="https://exchangerate.host/#/" target="_blank" class="nav-link px-2 text-white text-opacity-50">exchangerate.host
      </a></li>
      <li class="nav-item"><a href="https://exchangerate.host/#/docs" target="_blank" class="nav-link px-2 text-white text-opacity-50">API</a></li>
      <li class="nav-item"><a href="https://github.com/CostaJoseff/IUUL_Desafio_4_Angular_Conversor_de_moedas" target="_blank" class="nav-link px-2 text-white text-opacity-50">GitHub</a></li>
      <li class="nav-item"><a href="https://iuul.com.br/" target="_blank" class="nav-link px-2 text-white text-opacity-50">IUUL</a></li>
    </ul>
  </footer>
</div>