<div id="container" class="px-3 py-2 fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <button routerLink="/" class="d-flex flex-column align-items-center nav-link text-white">
            <i class="bi bi-house-door"></i>
            Início
          </button>
        </li>
        <li>
          <button routerLink="/moedas" class="d-flex flex-column align-items-center nav-link text-white">
            <i class="bi bi-coin"></i>
            Moedas
          </button>
        </li>
        <li>
          <button routerLink="/converter" class="d-flex flex-column align-items-center nav-link text-white">
            <i class="bi bi-repeat"></i>
            Converter
          </button>
        </li>
        <li>
          <button routerLink="historico" class="d-flex flex-column align-items-center nav-link text-white">
            <i class="bi bi-receipt-cutoff"></i>
            Histórico
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>