<div id="area-de-conversao" class="pt-5">

  <div class="m-auto d-block card shadow " style="width: 80%;">
  
    <div class="card-header shadow-sm">
      Defina as moedas e o valor
    </div>
  
    <div class="m-auto card-body d-flex justify-content-around">
  
      <div>
        <div class="input-group input-group-sm mb-1">
          <span id="simbolo-atual" class="input-group-text">{{ codigoMoedaSelecionada1() }}</span>
          <input [(ngModel)]="inputNumero" (input)="inputCheck()" id="valor" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>

        <select class="form-select form-select-sm mb-3 moedas" name="Moeda" id="moeda1" [(ngModel)]="moedaSelecionada1" >
          <option *ngFor="let moeda of getMoedas()" [value]="moeda">{{ moeda }}</option>
        </select>
  
        
        <button (click)="converter()" [disabled]="!botaoDisponivel()" id="botao" type="button" class="btn btn-primary mb-3"><i class="bi bi-cash-stack"></i>  Converter</button>
  
      </div>

      <i id="seta" class="bi bi-arrow-right"></i>
  
      <div>
        <div class="input-group input-group-sm mb-1">
          <span id="simbolo-atual" class="input-group-text">{{ codigoMoedaSelecionada2() }}</span>
          <input [(ngModel)]="resultado" [disabled]="true" id="resultado" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>

        <select class="form-select form-select-sm mb-3 moedas" name="Moeda" id="moeda1" [(ngModel)]="moedaSelecionada2" >
          <option *ngFor="let moeda of getMoedas()" [value]="moeda">{{ moeda }}</option>
        </select>
      </div>
  
    </div>
  
  </div>

</div>