#area-de-conversao {
  margin-top: 30vh;
  background-color: #dfdfdf;
}

#seta{
  font-size: 30px;
}

button {
  --bs-btn-disabled-bg: #0d6dfda1;
  --bs-btn-disabled-color: rgba(0, 0, 0, 0.575);
}

select {
  cursor: pointer;
}