<div class="d-block">
  <div id="area-principal" class="d-flex justify-content-center p-lg-5 text-bg-dark text-center">
    <div class="card m-auto" id="box">
      <div class="card-body d-flex flex-column">
        <h1 class="card-title pt-4">Conversor de moedas</h1>
        <div class="card-text">
          <p>Projeto destinado a pratica de Angular e Consumo de API's</p>
          <p>API utilizada: <a href="https://exchangerate.host/" target="_blank">exchangerate.host</a></p>
        </div>
      </div>
    </div>
  </div>
</div>